 <div class="container">

    <div class="jumbotron">
      <h1>Welcome to Bridge the Gap</h1>
      <h3>The site that helps people!!</h3>
    </div>

      
     <div class="jumbotron">
         {{#each org}}  
         <li>{{this.Name}}</li>
         <li>{{this.Email}}</li>
         {{/each}}
     </div>
     
   

</div>