<header>
    <div class="container">
       
<h1>Bridge the Gap</h1>

        <ul class="nav justify-content-end">
        
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/create">Create a Login</a>
          </li>        
     
          <li class="nav-item">
            <a class="nav-link" href="/form">Add your Organization</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/orgs">See All Our Partners</a>
         </li>
        </ul>

    </div>
</header>

  <div class="container">
    <div class="jumbotron">
      <h1>Bridge The Gap</h1>
      <h3>Our mission is to build a bridge between families who are in need and local Arizona non-profit organizations.</h3>
      <hr>
      
    </div>
    <div class="row">

      <div class="col-lg-8">

        <div class="card mb-4">
          <div class="card-header">
           Select the Area you are Looking for:
          </div>
          <a href="/food" class="btn btn-info btn-lg">
            <span class="fa fa-heart"></span> Food</a>
            <br>
            <br>
          <a href="/shelter" class="btn btn-info btn-lg">
          
            <span<i class="fa fa-home"></i></span> Shelter</a> 
            <br>
            <br>

          <a href="/daycare" class="btn btn-info btn-lg">
              <span class="fa fa-child"></span> Day Care</a>
              <br>
              <br>
          <a href="/health" class="btn btn-info btn-lg">
            <span class="fa fa-asterisk"></span> Mental Health</a> 

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">

        <div class="card">
          <div class="card-header">
        
          </div>
          <div class="card-body" id="well-section">
          
          </div>
        </div>
      </div>
    </div>
  </div>



