<header>
    <div class="container">
       
<h1>Bridge the Gap</h1>

        <ul class="nav justify-content-end">
        
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/create">Create a Login</a>
          </li>        
     
          <li class="nav-item">
            <a class="nav-link" href="/form">Add your Organization</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/orgs">See All Our Partners</a>
         </li>
        </ul>

    </div>
</header>